# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\95640\Downloads\IC\curriculum\ACSE2020\ACSE1\ACSE-1\lectures\Lecture07\ci_acse1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
